
body{
    margin: 100px;
    text-align: center;
    padding:10px 20px 100px 150px; 
    /* align: center; */
    }
.titledbackground{
    background-color: hsl(240, 67%, 94%);
    padding-left: 100px;
    padding-top:100px;
    padding-bottom:100px;
    padding-right: 100px;
}    
     
  
     
*{
    box-sizing:border-box;
   }
  
.inp-container{
    display:flex;
    width: 100%;
    margin-bottom: 15px;
}
.icon{
    padding:10px;
    background: hsl(240, 67%, 90%);
    color:#454547;
    min-width:50px;
    text-align:center;
}

#myList{
    width: 355px;
}